body {
  position: relative;
}
.cntr_Body {
  margin-top: 230px;
  max-width: 70em;
}
h1 {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.txt_TheFinest {
  display: block;
}
.txt_FourPaws {
  display: none;
}
.img_Logo {
  display: none;
  z-index: -10;
}
.row_Header {
  padding-left: 200px;
}
.img_WomanWithDog {
  display: inline-block;
  text-align: center;
  margin-bottom: 500px;
}
.row_CTA {
  padding-left: 200px;
}
.row_Image {
  text-align: start;
}
#btn_CTA {
  border-radius: 50px;
  height: 50px;
  width: 50%;
  max-width: 50%;
  transition: all 0.5s ease;
  background-color: #6d2a80;
  border: 3px solid rgba(255, 255, 255, 0);
  letter-spacing: 3.25px;
  margin-top: 50px;
  font-size: 20px;
  color: white;
  display: inline-block;
  z-index: 100;
}
#btn_CTA:hover {
  background-color: #4d1d5b;
}
.txt_About {
  margin-top: 790px;
  margin-bottom: 80px;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 2.25px;
  line-height: 32px;
  text-align: left;
  color: white;
  margin-left: 12px;
}
.img_Puppy {
  border-radius: 50%;
  height: 200px;
  border: 4px solid white;
}
.txt_AboutParagraphOne {
  padding-top: 30px;
}
.txt_AboutParagraphTwo {
  margin-top: 30px;
}
.Philosophy-row {
  margin-bottom: 450px;
}
h3 {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2.25px;
  line-height: 34px;
  font-weight: 600;
}
.txt_Convenience {
  text-align: center;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 2.25px;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
form {
  margin-bottom: 430px;
}
.RecordsVerbiage {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 2.25px;
  line-height: 32px;
  text-align: left;
  color: white;
  margin-top: 45px;
  margin-bottom: 60px;
}
.AboutVerbiage {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 2.25px;
  line-height: 32px;
  text-align: left;
  color: white;
  margin-left: 12px;
}
.overlay,
.sideMenu {
  position: fixed;
  bottom: 0;
}
.overlay {
  top: 0;
  left: 0;
  opacity: 0;
  right: 0%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.825);
  z-index: 998;
  transition: all ease 0.4s;
  pointer-events: none;
}

.sideMenu,
.sidebarNavigation {
  z-index: 999;
  margin-bottom: 0;
}

.overlay.open {
  left: 0;
  right: 0;
  opacity: 1;
}

.sidebarNavigation .left-navbar-toggle {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}

.sideMenu {
  right: -50%;
  top: 100px;
  transition: all ease-in-out 0.6s;
  overflow: hidden;
  width: 100%;
  max-width: 50%;
}

.sideMenu.open {
  right: 0;
  display: block;
  overflow-y: auto;
}

.sideMenu ul {
  margin: 0;
}

ul.menu,
ul.menu.close {
  display: none !important;
}
ul.menu.open {
  display: block !important;
}

body {
  background-color: #298999;
  margin: 0px;
  height: 100%;
}

a {
  color: white;
}

a:focus {
  outline: none;
}

.container-fluid {
  text-align: center;
}

.navbar-toggle {
  margin-bottom: -2px;
  margin-top: 4px;
}

.About-row {
  height: 150px;
}

.Address-row {
  height: 37px;
}

.Address-row {
  height: 37px;
}

.Number-row {
  height: 37px;
}

.Email-row {
  height: 37px;
}

.Button-row {
  height: 50px;
}

#Layer_11 {
  height: 190px;
}

.DonateContainer {
  text-align: center;
  max-width: 50em;
  margin-top: 100px;
}

.DonorInfoHeader {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: white;
  letter-spacing: 1px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.logohome {
  height: 150px;
  margin-top: 110px;
}

.current-about {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 10px 15px;
}

#logo {
  color: white;
  height: 24px;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: -15px;
  height: 30px;
}

.DesktopMenu {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.DesktopMenu .nav-link {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.DesktopMenu .donate {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.nav {
  text-align: right;
  padding-right: 0px;
}

.nav > li {
  padding-top: 8px;
}

#NavLogo {
  height: 170%;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}
.LogoBlock {
  display: none;
}

#NavLogoSolo {
  height: 34px;
  margin-top: 7px;
  margin-left: 25px;
  margin-right: 10px;
  float: left;
  display: block;
}

.navbar-brand {
  line-height: 39px;
  margin-bottom: -16px;
  margin-top: -8px;
  font-size: 26px;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-inverse {
  border-bottom: none;
  background-color: #6d2a8000;
}

.navbar-inverse .navbar-brand {
  color: white;
  background-color: #23282d;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  transition-duration: 750ms;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: rgb(122, 122, 122);
}

.nav > li > a:hover {
  background-color: #a7303000;
}

a:hover {
  color: white;
  text-decoration: none;
}

.body {
  background-color: rgba(227, 251, 249, 0.929);
}

/*Mobile navigation*/

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-nav {
  text-align: end;
  margin-right: 10px;
  color: white;
  line-height: 18px;
  margin-top: 20px;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  margin-left: 22px;
  line-height: 37px;
  font-weight: 600;
  padding: 0.55rem 1rem;
}

.navbar-light .navbar-nav .donate {
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  margin-left: 22px;
  line-height: 37px;
  font-weight: 600;
  padding: 0.55rem 1rem;
}

.navbar-light .navbar-nav .nav-link:active {
  border-bottom: none;
  line-height: 37px;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: none;
  color: rgb(215, 11, 188);
  line-height: 37px;
  font-weight: 600;
}

.nav-link {
  padding: 0.85rem 1rem;
}

.bg-light {
  background-color: #6d2a80 !important;
}

.navbar-light .navbar-brand {
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 100;
  letter-spacing: 4px;
  line-height: 39px;
  margin-top: -10px;
}

.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0);
  line-height: 37px;
  font-weight: 600;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
  line-height: 37px;
  font-weight: 600;
}

.current {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 1rem 1.75rem;
  padding-right: 15px;
  padding-left: 0px;
}

#NavCTA {
  border-radius: 50px;
  transition: all 0.5s ease;
  background-color: #298999;
  border-color: #00000000;
  width: 110px;
  height: 28px;
  letter-spacing: 0.25px;
  line-height: 0px;
  margin-right: 10px;
}

#NavCTA:focus {
  outline: none;
}

#NavCTA:hover {
  text-decoration: none;
  background-color: #277482;
}

#CTAMiddle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
  display: none;
  border-radius: 50px;
  background-color: #298999;
  border-color: #00000000;
  width: 110px;
  height: 28px;
  line-height: 0px;
  margin-top: 10px;
  margin-right: 11px;
  text-align: center;
  letter-spacing: 0.25px;
  font-size: 11px;
}

#CTAMiddle:focus {
  outline: none;
}

#SubmitBtn {
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  background-color: #6d2a80;
  width: 130px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  height: 48px;
  margin-left: ;
  letter-spacing: 1.25px;
  line-height: 0px;
  color: white;
}

#SubmitBtn:focus {
  outline: none;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.468);
}

.form-dollar {
  max-width: 26%;
  padding-left: 0px;
  padding-right: 0px;
}

#YN {
  text-align: left;
  width: 30%;
  margin-top: -88px;
}

#HeartWormQuest {
  margin-top: 25px;
}

.form-group {
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}

.form-concerns {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}

.form-Submit {
  max-width: 100%;
  margin-top: -40px;
  padding-left: 0px;
  padding-right: 0px;
}

.form-control {
  background-color: rgba(255, 255, 255, 0);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  border: 0px;
  border-bottom: 2px solid white;
  border-radius: 0px;
  display: block;
  color: white;
  padding-left: 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.694);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 174, 233, 0);
}

.form-control:focus {
  text-decoration: none;
  border-color: white;
  outline: 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.694);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 174, 233, 0);
}

#emaillist {
  margin-top: 30px;
}

.form-check-label {
  font-family: "Open Sans", sans-serif;
  color: white;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 14px;
  margin-top: 10px;
  padding-left: 5px;
  margin-bottom: 3px;
}

#input::placeholder {
  color: white;
  opacity: 65%;
  font-weight: 100;
}

#firstname::placeholder {
  color: white;
  opacity: 65%;
  font-weight: 100;
}

#inputammount::placeholder {
  color: white;
  font-weight: 100;
  height: 26px;
  padding-top: 0px;
  opacity: 65%;
  padding-left: 2px;
  padding-bottom: 2px;
  border: 2px solid rgba(255, 255, 255, 0);
}

#cc-input::placeholder {
  color: white;
  font-weight: 100;
  opacity: 65%;
}

#petname::placeholder {
  color: white;
  font-weight: 100;
  opacity: 65%;
}

.dollarinput {
  margin-top: 20px;
}

#cv-input::placeholder {
  color: white;
  font-weight: 100;
  opacity: 65%;
}

#cv {
  margin-top: 20px;
  padding-left: 2px;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: 38px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 40px;
  letter-spacing: 1px;
  padding: 0.275rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #ffffff;
  vertical-align: middle;
  background: #5bb0be;
  background-size: 8px 10px;
  border: 2.5px solid #ffffff;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
}

.custom-select:focus {
  outline: none;
}

.dollar-control {
  line-height: 2.25;
  padding: 0.004rem 0.75rem;
  margin-bottom: -1.5rem;
}

.input-group > .form-control {
  margin-top: 2px;
  line-height: 9px;
  margin-bottom: -6px;
  padding-left: 7px;
}

.input-group-addon {
  margin-bottom: 8px;
  margin-top: 63px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.783);
  outline: 1.5px solid rgb(255, 255, 255);
  background-color: rgba(245, 222, 179, 0);
  margin-bottom: -6px;
}

.input-group-addon:last-child {
  border-left: 2px solid white;
}

input[type="checkbox"],
input[type="radio"] {
  margin-top: 5px;
}

.inputwithicon i {
  position: absolute;
  left: 0;
  top: 5px;
  padding: 17px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputwithicon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

mb-3 {
  background-color: turquoise;
}

#btn_Home {
  border-radius: 50px;
  background-color: #ffffff;
  border-color: #00000000;
  width: 110px;
  height: 28px;
  letter-spacing: 1.25px;
  line-height: 0px;
}

#btn_Home:focus {
  outline: none;
}

#WhiteButton {
  border-radius: 50px;
  background-color: #ffffff;
  border-color: #00000000;
  width: 110px;
  height: 28px;
  letter-spacing: 1.25px;
  line-height: 0px;
  font-weight: 600;
}

#WhiteButton:focus {
  outline: none;
}

#CTAButton {
  border-radius: 50px;
  font-size: 16px;
  color: #298999;
  border-color: #00000000;
  letter-spacing: 0.7px;
  line-height: 0px;
  font-weight: 600;
  padding-right: 9px;
}

.form {
  margin-bottom: 0.5rem;
  padding-bottom: 5px;
  transform: scale(0.5px);
}

/*Hamburger menu animation*/

#wrapper {
  background-color: none;
  display: inline-block;
  border-radius: 500px;
  margin: -11px;
  margin-left: -60px;
  position: relative;
  padding: 0px;
  cursor: pointer;
}

#wrapper:focus {
  outline: none;
}

#wrapper:focus-within {
  outline: none;
}

#wrapper:active {
  outline: none;
}

.circle {
  width: 48px;
  height: 30px;
  position: relative;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 6px;
}

.circle:focus {
  outline: none;
}

.circle:active {
  outline: none;
}

.line {
  position: absolute;
  height: 2px;
  margin-top: 4px;
  width: 64%;
  background: beige;
  border-radius: 0px;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.top {
  top: 18%;
  height: 2.5px;
}

.middle {
  top: 48%;
  height: 2.5px;
}

.bottom {
  top: 78%;
  height: 2.5px;
}

.icon.close .top {
  transform: rotate(45deg);
  top: 48%;
}

.icon.close .middle,
.icon.close .bottom {
  transform: rotate(-45deg);
  top: 48%;
}

.close {
  opacity: 1;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

/*---end of Hamburger info---*/

#footer {
  background-color: #6d2a80;
  padding-top: 200px;
  padding-bottom: 10px;
  color: white;
  padding-bottom: 20px;
}

.footer-row {
  text-align: left;
}

#footerlogo {
  height: 160px;
  margin-bottom: 30px;
}

.FooterNav {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  padding-top: 2px;
  line-height: 0.2px;
  text-align: left;
}

.FooterNav:visited {
  color: #f47521;
}

.FooterNav:hover {
  color: #31708f;
}

.credit {
  font-size: 10px;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  text-align: left;
  padding-left: 18px;
}

.parallax1 {
  background: transparent;
  min-height: 500px;
}

/*--Modal--*/

.ModalContainer {
  text-align: centers;
}

#modalsubmit {
  padding-right: 0px !important;
}

.modal-content {
  background-color: #298999;
  border-radius: 1.25rem;
  margin-left: 40px;
  margin-right: 50px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 30% auto;
  box-shadow: 2 10px 10px rgba(0, 0, 0, 0.29);
}

.modal-header {
  border-bottom: 0px;
  padding: 5px;
}

.modal-body {
  background: #6d2a80;
  font-weight: 100;
  width: 100%;
  border-radius: 20px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 30px;
  margin-top: 20px;
  padding: 20px;
}

.modal-title {
  margin-left: 0px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.modal-content .close {
  color: #ffffff;
  font-size: 36px;
  text-shadow: 0 1px 0 #fff0;
  margin-top: 10px;
  line-height: 0.75;
  margin-bottom: -10px;
}

.modal-content .close:hover {
  color: #073725;
}

.modal-content .close:focus {
  outline: none;
}

.ContactContainer {
  text-align: center;
  max-width: 65em;
  margin-top: 100px;
  margin-bottom: 250px;
}
.ContactHeader {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: white;
  letter-spacing: 2.25px;
  margin-top: 250px;
  margin-bottom: 60px;
}
#Map {
  height: 240px;
}
.ContactVerbiage {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 2.25px;
  line-height: 110px;
  text-align: center;
  color: white;
}
/* Desktop navigation */
@media (min-width: 576px) {
}

@media (max-width: 767px) {
  .navbar-brand {
    display: none;
  }

  .LogoBlock {
    display: block;
  }

  #CTAMiddle {
    display: inline-block;
    text-align: center;
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .navbar {
    border-radius: 0px;
  }

  .navbar-nav {
    float: right;
    margin-right: -10px;
  }

  .navbar-brand {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 39px;
    margin-top: -10px;
  }

  #logo {
    color: white;
    height: 24px;
    margin-top: 4px;
    margin-left: 54px;
    margin-right: 0px;
    height: 30px;
    letter-spacing: 2.75px;
  }

  .navbar-toggle {
    margin-bottom: -2px;
  }
}
/*-----Tablet-----*/
@media (min-width: 768px) {
  .navbar-light .navbar-nav .nav-link::after {
    content: "";
    display: inline;
    width: 0;
    height: 2px;
    font-weight: 600;
    background: rgb(0, 0, 0);
    transition: width 0.25s;
    margin-bottom: -2px;
    transition-duration: 350ms;
    line-height: 37px;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    border-bottom: none;
    color: rgb(0, 0, 0);
    line-height: 37px;
    font-weight: 600;
  }

  .navbar-light .navbar-nav .nav-link:hover::after {
    color: rgb(0, 0, 0);
    width: 100%;
    transition: width 0.25s;
    margin-bottom: -2px;
    line-height: 37px;
    font-weight: 600;
  }

  .navbar-light .navbar-nav .nav-link:active {
    border-bottom: none;
    line-height: 37px;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }

  .navbar-light .navbar-nav .nav-link:active::after {
    color: rgb(0, 0, 0);
    width: 100%;
    transition: width 0s;
    margin-bottom: -2px;
    line-height: 37px;
    font-weight: 600;
  }

  .navbar-light .navbar-nav .nav-link:focus {
    color: rgb(0, 0, 0);
    margin-bottom: -2px;
    line-height: 37px;
    font-weight: 600;
  }

  .navbar-light .navbar-nav .nav-link:focus::after {
    color: rgb(0, 0, 0);
    width: 100%;
    transition: width 0s;
    margin-bottom: -2px;
    line-height: 37px;
    font-weight: 600;
  }

  .navbar-toggle {
    margin-bottom: -2px;
  }

  .content {
    padding-top: 25px;
  }

  .current {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    display: inline-block;
    position: relative;
    margin-right: 0px;
    line-height: 37px;
    padding: 0.55rem 1rem;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    background-color: none;
    text-decoration-line: none;
  }

  .current:hover {
    color: white;
  }

  .current-about {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-left: 32px;
    line-height: 37px;
    padding: 0.55rem 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
  }

  .current-about::after {
    content: "";
    height: 1.5px;
    width: 80%;
    left: 10%;
    bottom: 12px;
    margin-bottom: -0.5px;
    background: white;
    position: absolute;
    background-color: none;
  }
  .footer-row {
    padding-left: 18px;
  }
}

@media (min-width: 768px) {
  .nav-link {
    padding: 0.55rem 1rem;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    margin-top: -9px;
    float: right;
  }
}

@media (max-width: 990px) {
  #SubmitBtn {
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
  .txt_TheFinest {
    display: none;
  }
  .img_WomanWithDog {
    display: none;
  }
  .cntr_Body {
    max-width: 36em;
    margin-top: 120px;
  }
  .txt_FourPaws {
    display: block;
    font-size: 56px;
    font-weight: 600;
    letter-spacing: -0.25px;
    font-family: "Yantramanav", sans-serif;
  }
  .img_Logo {
    display: inline-block;
    align-items: center;
    height: 160px;
    margin-top: 20px;
  }
  .DonateBody {
    display: none;
  }
}

/*-----XL Desktop------*/
@media (min-width: 990px) {
  .form-group {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-concerns {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-dollar {
    max-width: 26%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-Submit {
    margin-bottom: 20px;
  }
}

.navbar-toggle {
  margin-bottom: -2px;
}

@media (min-width: 1024px) {
}

/*-----Collapse Buttons Sooner------*/
@media (max-width: 1015px) {
  .navbar-header {
    float: none;
  }
  .DesktopMenu {
    display: none;
  }
  .colapse.in {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #CTAMiddle {
    display: inline-block;
    font-size: 14px;
  }
  #WhiteButton {
    background-color: rgba(255, 255, 255, 0);
    letter-spacing: 2.5px;
    text-align: end;
  }
  #CTAButton {
    background-color: rgba(255, 255, 255, 0);
    letter-spacing: 1px;
    text-align: end;
  }
}
@media (max-width: 990px) {
  form {
    margin-bottom: 10px;
  }
  #Map {
    margin-top: 100px;
  }
}
@media (max-width: 976px) {
  #btn_CTA {
    margin-bottom: 350px;
  }
  form {
    margin-bottom: 10px;
  }
  #Map {
    margin-top: 110px;
  }
}
/*----iPad-----*/
@media (max-width: 768px) {
  #btn_CTA {
    margin-bottom: 350px;
  }
  h2 {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  form {
    margin-bottom: 10px;
  }
  #SubmitBtn {
    margin-top: 20px;
    margin-bottom: 200px;
  }
}
@media (min-width: 540px) {
  .footer-row {
    padding-left: 18px;
  }
}
@media (max-width: 540px) {
  .footer-row {
    text-align: center;
  }
  .credit {
    text-align: center;
  }
}
/*----iphone6/7/8------*/
@media (max-width: 414px) {
  #btn_CTA {
    width: 80%;
    max-width: 80%;
    margin-bottom: 250px;
  }
  p {
    font-size: 20px;
    margin-left: 0px;
  }
  .col-md-9 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  h2 {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  h3 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .Philosophy-row {
    margin-bottom: 200px;
  }
  form {
    margin-bottom: 50px;
  }
  #YN {
    padding-bottom: 50px;
  }
  #SubmitBtn {
    margin-top: -10px;
    margin-bottom: 200px;
  }
  #CTAMiddle {
    margin-left: -10px;
    font-size: 11px;
  }
  .ContactHeader {
    margin-top: -10px;
  }

  .FooterNav {
    font-size: 16px;
  }
  .footer-row {
    text-align: center;
  }
  .credit {
    text-align: center;
  }
}
/*----Pixel------*/
@media (max-width: 411px) {
  .btn_CTA {
    font-size: 19px;
  }
  p {
    font-size: 26px;
    line-height: 34px;
  }
  #CTAMiddle {
    margin-right: 24px;
    font-size: 11px;
  }

  .credit {
    text-align: center;
  }
  .FooterNav {
    padding: 3px;
  }
}
/*----iphoneX------*/
@media (max-width: 375px) {
  .txt_FourPaws {
    font-size: 48px;
  }
  .cntr_Body {
    margin-top: 110px;
    width: 100%;
  }
  .img_Logo {
    margin-top: 15px;
    height: 130px;
  }
  #btn_CTA {
    width: 70%;
    max-width: 70%;
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 310px;
  }
  #CTAMiddle {
    font-size: 11px;
    letter-spacing: 0.75px;
    margin-left: -3px;
  }

  .ContactHeader {
    margin-top: -50px;
  }
  #Map {
    height: 220px;
  }
  .FooterNav {
    font-size: 16px;
    padding: 3px;
  }
  .footer-row {
    text-align: center;
  }
  .credit {
    text-align: center;
  }
}
/*----MotoG4----*/
@media (max-width: 360px) {
  .cntr_Body {
    width: 100%;
    margin-top: 90px;
  }
  #btn_CTA {
    width: 80%;
    max-width: 80%;
    margin-bottom: 250px;
  }
  h1 {
    font-size: 40px;
  }
  .img_Puppy {
    height: 190px;
  }
  p {
    font-size: 20px;
    margin-left: 0px;
  }
  .col-md-9 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  h3 {
    font-weight: 400;
  }
  .Philosophy-row {
    margin-bottom: 250px;
  }
  h2 {
    font-size: 28px;
    margin-top: 100px;
    margin-bottom: 10px;
  }
  form {
    margin-bottom: 10px;
  }
  .RecordsVerbiage {
    font-size: 17px;
  }
  #YN {
    padding-bottom: 40px;
  }
  #SubmitBtn {
    margin-top: 10px;
    margin-bottom: 200px;
  }

  .img_Logo {
    margin-top: 23px;
  }
  #Map {
    height: 210px;
  }
  .footer-row {
    text-align: center;
  }
  .credit {
    text-align: center;
  }
}
/*----iphone5----*/
@media (max-width: 320px) {
  .txt_FourPaws {
    font-size: 38px;
  }
  .cntr_Body {
    margin-top: 80px;
    width: 100%;
  }
  .img_Logo {
    margin-top: 16px;
    height: 130px;
  }
  #btn_CTA {
    width: 80%;
    max-width: 80%;
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 220px;
  }
  h1 {
    font-size: 36px;
  }
  .img_Puppy {
    height: 180px;
  }
  p {
    font-size: 20px;
    margin-left: 0px;
  }
  .col-md-9 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  h3 {
    font-weight: 400;
  }
  .Philosophy-row {
    margin-bottom: 200px;
  }
  h2 {
    margin-top: 72px;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 26px;
  }
  form {
    margin-bottom: -20px;
  }
  #SubmitBtn {
    margin-top: 10px;
    margin-bottom: 200px;
  }
  #YN {
    padding-bottom: 50px;
  }
  #CTAMiddle {
    font-size: 11px;
    letter-spacing: 0.75px;
    margin-left: -9px;
  }

  #Map {
    height: 190px;
  }
  #footerlogo {
    height: 130px;
  }
  .credit {
    text-align: center;
  }
  .FooterNav {
    padding: 0px;
  }
}

/*----GalaxyFold----*/
@media (max-width: 280px) {
  .txt_FourPaws {
    font-size: 37px;
  }
  .cntr_Body {
    margin-top: 90px;
    width: 100%;
  }
  .img_Logo {
    margin-top: 10px;
    height: 140px;
  }
  #btn_CTA {
    width: 90%;
    max-width: 90%;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 220px;
  }
  h1 {
    font-size: 36px;
  }
  .img_Puppy {
    height: 180px;
  }
  .col-md-9 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  p {
    font-size: 22px;
    margin-left: 0px;
  }
  h3 {
    font-weight: 100;
    font-size: 24px;
    line-height: 31px;
  }
  .Philosophy-row {
    margin-bottom: 300px;
  }
  h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .form-check-label {
    font-size: 12px;
  }
  form {
    margin-bottom: 20px;
  }
  .RecordsVerbiage {
    font-size: 16px;
  }
  #YN {
    margin-top: -90px;
    padding-bottom: 30px;
  }
  .DonateContainer {
    margin-top: 40px;
  }
  #CTAMiddle {
    font-size: 11px;
    letter-spacing: 0.75px;
    margin-left: -5px;
  }

  #Map {
    height: 160px;
  }
  .ContactHeader {
    margin-top: 20px;
  }
  #footerlogo {
    height: 130px;
  }
  .FooterNav {
    font-size: 14px;
  }
  .credit {
    text-align: center;
  }
}
